@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-2: 0 0% 97%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --background-2: 20 10% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  :root {
    --pad: 8px;
    --aside-width: 256px;
    --navbar-height: 4rem;
    --nav-height: 3.75rem;
    --form-actions-height: 4.5rem;
    --table-height: calc(100dvh - 240px);
    --table-filters-height: calc(var(--table-height) - 48px);
  }

  @media all and (min-width: 640px) {
    :root {
      --pad: 16px;
    }
  }

  html,
  body {
    @apply h-full overflow-hidden;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-foreground rounded;
  }
}

@layer utilities {
  .layout {
    @apply grid-cols-page grid auto-rows-max;
  }

  .layout-content {
    @apply col-content;
  }

  .layout-bleed {
    @apply col-bleed;
  }

  .layout-form-page {
    @apply grid-cols-page relative grid grid-rows-[calc(100dvh-var(--navbar-height)-var(--form-actions-height))_var(--form-actions-height)];
  }

  .layout-tabs-form-page {
    @apply grid-cols-page relative grid grid-rows-[calc(100dvh-var(--navbar-height)-var(--nav-height)-var(--form-actions-height))_var(--form-actions-height)];
  }

  .layout-secondary-form-page {
    @apply grid-cols-page relative grid grid-rows-[calc(100dvh-var(--navbar-height)-var(--form-actions-height))_var(--form-actions-height)];
  }

  .layout-form-page-content {
    @apply col-bleed h-full overflow-auto;
  }

  .form-page {
    @apply relative grid grid-cols-[1fr,240px] gap-6 py-8;
  }

  .form-page-aside {
    @apply absolute inset-0 col-start-2 py-[inherit];
  }

  .h1 {
    @apply scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl;
  }

  .h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }

  .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  .p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  .lead {
    @apply text-muted-foreground text-xl;
  }

  .large {
    @apply text-lg font-semibold;
  }

  .small {
    @apply text-sm font-medium leading-none;
  }

  .muted {
    @apply text-muted-foreground text-sm;
  }
}

.monaco-editor {
  --vscode-editor-background: hsl(222.2 84% 4.9%) !important;
  --vscode-editorGutter-background: hsl(222.2 84% 4.9%) !important;
}

.minimap {
  display: none;
}

/* Calendar input https://gist.github.com/mjbalcueva/1fbcb1be9ef68a82c14d778b686a04fa */
.rdp-vhidden {
  @apply hidden;
}
